@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="presentation big-button">
        <h1 class="display-4">Hello</h1>
        <p>We've got a lot of functionalities'</a>.</p>
    </div>
    <div class="container-fluid d-flex">
        <div class="container-sm big-button">
            Carpe diem, quam minimum credula postero.
        </div>
        <div class="container-sm big-button">
            In principio creavit Deus et coelum et terram[...]
        </div>
    </div>
</div>

