@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="presentation big-button">
        <h1 class="display-4">Product Control</h1>
    </div>
    <div class="container-fluid d-flex">
        <div class="container-sm">
            <a class="btn btn-success" asp-area="" asp-controller="Product" asp-action="Index">Go to the products list</a>
        </div>
    </div>
</div>

