@model IEnumerable<Desafio.Consumer.Models.Dtos.Product>

@{
    ViewData["Title"] = "Index";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/JavaScript.js"></script>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    @using (Html.BeginForm ("Index", "Home", FormMethod.Get))
    {
        <b>Search By: </b>
        <div class="searchSpace d-flex">
            <form asp-action="Index">
                <select id="SelectProduct" name="name" asp-items="@(new SelectList(Model, "Category","Category" ))">
                    <option>  Category </option>
                </select>
            </form>
            <form asp-action="Index">
                <input type="text" id="SearchProduct" placeholder="Name" />
            </form>
        </div>

    }
</p>

<div id="partialList">
    <partial name="_ShowListPartial" model="@Model" />
</div>
@{
    string url = Url.Action("ShowName", "Product");
    string secondurl = Url.Action("ExhibitName", "Product");
    <script>
        vanilla_fire_ajax("SelectProduct", "@url", "partialList");
        vanilla_fire_ajax_search("SearchProduct", "@secondurl", "partialList");
    </script>

}


